@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #B35642;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #B35642;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 2em !important;
  width: 100% !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
  width: 5px !important;
  height: 1.5em !important;
  right: 0;
  top: 0;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: rgba(0, 0, 0, 0.9);
  /* padding: 2.5em 1.5em 0; */
  padding-top: 2.5em;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: flex !important;
  justify-content: space-between;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  right: 0;
}
