.borderText {
    text-shadow: 0 0 2px #c9b505;
} 

.welcomeS {
    box-shadow: 0px 15px 25px -10px rgb(85, 84, 84);
    
}


@media only screen and (max-width: 768px) {
    div.ant-picker-dropdown-range  {
        display: flex;
        width: 277px;
        border-radius: 30px;
        overflow: hidden;
    }

    
  }
  button.ant-btn  {
    font-size: 10;
    width: 100%;
    border-style:  solid;
    border-color: white;
    background-color: rgb(77, 112, 128);
    display: flex;
    left: -100px;
  }

  
.dragableF {
    -webkit-user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
        pointer-events: none;
    
}

.wrapper {
    position: relative;
}

#slide {
    position: absolute;
    right: -50%;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.4s forwards;
    animation-delay: 0.1s;
}

@-webkit-keyframes slide {
    50% { top: 1; }
}

@keyframes slide {
    100% { right: 0; }
}


.wrapper2 {
    position: relative;
}

#slide2 {
    position: relative;
    left: -100%;
    -webkit-animation: slide2 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide2 0.7s forwards;
    animation-delay: 0.1s;
}

@-webkit-keyframes slide2 {
    100% { left: 1; }
}

@keyframes slide2 {
    100% { left: 0; }
}

